/* Default view */
.view{
  position: absolute;
  width: 100%;
  transition: 300ms;
}

/* Animation gauche vers droite */
.leftRight {
  .view {
    &.ng-enter{
      left: -100%;
      &.ng-enter-active{
        left: 0%;
      }
    }
    &.ng-leave{
      left: 0%;
      &.ng-leave-active{
        left: 100%;
      }
    }
  }
}

/* Animation droite vers gauche */
.rightLeft {
  .view{
    &.ng-enter{
     left: 100%;
     &.ng-enter-active{
       left: 0%;
     }
   }
   &.ng-leave{
     left: 0%;
     &.ng-leave-active{
       left: -100%;
     }
   }
  }
}
/* Animation bas vers haut*/
.downUp {
  .view {
    &.ng-enter{
      top: 100%;
      &.ng-enter-active{
        top: 0%;
      }
    }
    &.ng-leave{
      top: 0%;
      &.ng-leave-active{
        top: -100%;
      }
    }
  }
}

/* Third animation */
.welcome .view.ng-enter{
  opacity: 0;
}
