.blk-alert {
    background: $md-hue-2;
    .button {
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
        text-align: left;
        font-size: 1.3rem;
        background: transparent;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        @include box-shadow(none!important);
        @include border-radius(0px);
        .md-toolbar-tools {
            text-align: left!important;
            text-transform: initial;
        }
        &:hover,
        &:focus {
            background: darken($md-hue-2, 2%)!important;
        }
        i.ic {
            color: rgba(#fff, 0.7);
            font-size: 1.2rem;
        }
    }
}