
#footer {
  margin-top: 5rem;
  padding-top: 1rem;
  display: block;
  width: 100%;
  position: relative;
  &::after {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 1px;
    background: lighten(#000 , 90%);
    content: ' ';
  }
  p.copyright {
      color: lighten(#000 , 75%);
      font-size: 0.8rem;
    }

    a.btn {
      display: block;
      &:hover, &:focus {
        color: lighten(#000, 40%);
        background: transparent!important
      }
    }
}
