.hero {
  background: $primary-color;
  min-height: 350px;
  position: relative;
  .callout {
    border: none;
    background: transparent;
    @include vertical-center;
    color: #fff;
    text-align: right;
    .logo{
      display: inline-block;
      width: 100%;
      height: auto;
    }
    .logo-mrc{
      display: inline-block;
      margin-bottom: 1rem;
      width: 50%;
      @include opacity(0.4);
    }
    p{text-align: left;font-family: $primary-fonts}
  }
  &::before{
    background: url('../images/nuages.svg');
    background-repeat: no-repeat;
    background-position: right top;
    position: absolute;
    top: 0px;
    right: 10%;
    width: 100%;
    height: 100%;
    content: ' ';
  }
  &::after{
    background: url('../images/decor.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    bottom: 0px;
    right: 10%;
    width: 100%;
    height: 100%;
    content: ' ';
    @include opacity(0.7);
    // @include breakpoint(medium up) {
    //   background-size:30%
    // }
  }
  md-toolbar-tools {
    svg {
      margin-right: 20rem;
    }
  }
  p.lead {
    display: block;
    clear: both;
    position: relative;
    color: #fff;
    font-size: 1.265rem;
  }
}
