.md-sidenav-left {
    md-toolbar {
        img.logo {
            max-width: 75%;
            display: block;
            height: auto;
            position: relative;
            padding-top: 1rem;
        }

        svg {
            fill: darken($md-hue-2, 10%);
            @include transition(0.3s, ease-in, all)
        }
        &:hover, &:focus {
                svg {
                    fill: rgba(255,255,255,0.5);
                    @include transition(0.3s, ease-in, all)
                }
            }
    }

    .md-button.md-fab.md-mini {
        background: transparent;
        border: none;
        @include box-shadow(none);
        top: 0;
        right: 0;
    }
}
