.md-sidenav-right {
    background: $primary-color;
    md-toolbar {
        background: transparent;
        .md-fab {
            @include box-shadow(none);
            background: transparent;
            top: 5px!important;
            right: 5px!important;
            svg {
                fill: rgba(255, 255, 255, 0.5);
                @include transition(0.3s, ease-in, all)
            }
            &:focus,
            &:hover {
                svg {
                    fill: rgba(255, 255, 255, 1);
                    @include transition(0.3s, ease-in, all)
                }
            }
        }
        h4 {
            color: #fff;
            font-size: 1.7rem;
            margin-left: 0.5rem;
            span {
                font-size: 60%;
                display: block;
                color: rgba(255, 255, 255, 0.5);
                line-height: 1rem;
                font-weight: 400;
            }
        }
    }
    svg {
        fill: rgba(255, 255, 255, 0.5);
        @include transition(0.3s, ease-in, all)
    }
    a {
        color: #fff;
    }
   
    .md-list-item-text {
        p {
            color: #fff!important;
            font-size: 1.2rem!important;
            font-weight: 400!important;
        }
    }
     .md-button {
       padding-top: 0px;
       padding-bottom: 0px;
        
    }
  md-list-item{
    padding-top: 0px;
    padding-bottom: 0px;
    height: 30px;
    min-height: 30px;
    md-icon {
          height: 15px!important;
          min-height: 15px!important;
        }
    md-divider {
            border-top-color: rgba(255, 255, 255, 0.2);;
            width: 89%;
            left: 5.5%;
        }
  }
    .md-button.md-no-style {
      min-height: 20px;
    }
}