@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');

// COULEURS
$primary-color: #00C853;

// MD-COLORS
$md-hue-2 : #0AAF4E;
// FONTS
$primary-fonts: 'Noto Sans', sans-serif;

//Divers
$nav-height: 75px;